<h2>My friends</h2>

<div>
  <ul>
    <% @friends.each do |friend| %>
      <li>
        <%= friend.name %>
        <%= link_to 'Remove', friends_remove_friend_path(user_id: friend.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>

