<div class="page-header">
  <h3>Messages</h3>
</div>

<ul class="list-group">
  <% @messages.each do |msg| %>
    <li class="list-group-item"><%= msg.user.screen_name %> - <%= msg.text %> <%= link_to 'Reply', friends_reply_tweet_path(screen_name: msg.user.screen_name) %></li>
  <% end %>
</ul>
