<h2>Messages</h2>

<ul>
  <% @messages.each do |msg| %>
    <li><%= msg.user.screen_name %> - <%= msg.text %> <%= link_to 'Reply', friends_reply_tweet_path(screen_name: msg.user.screen_name) %></li>
  <% end %>
</ul>
